<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelinpeace">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.travelinpeace.ResetPassActivity"></activity>
        <activity android:name="com.example.travelinpeace.RegistrationActivity" />
        <activity android:name="com.example.travelinpeace.TestActivity" />
        <activity android:name="com.example.travelinpeace.EditorDay1" />
        <activity android:name="com.example.travelinpeace.FacultyDetails" />
        <activity android:name="com.example.travelinpeace.FacultyActivity" />
        <activity android:name="com.example.travelinpeace.SubjectDetails" />
        <activity android:name="com.example.travelinpeace.SubjectActivity" />
        <activity android:name="com.example.travelinpeace.DayDetail" />
        <activity android:name="com.example.travelinpeace.WeekActivity" />
        <activity
            android:name="com.example.travelinpeace.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>